# Python
__pycache__/
*.pyc

# Virtual environments
.env
.venv

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Data
data/interim/
data/processed/

# Models
models/*.pkl
models/*.joblib